.classpath
.project
.settings
.springBeans
.gradle
java-app/build/
java-app/bin/
*.class
_site
bin/
spring-cloud/bin/
spring-cloud/build/
*.iml
libs/
.DS_Store
docs/_site
/.nb-gradle/
/java-tls/build/